<nav>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/create">Create</a>
    </li>
    <li>
      <a href="https://dejacherese.com">Learn More ❤️</a>
    </li>
  </ul>
</nav>
